/src/views/ @L4riUs @Anonymous01J
/public/assets/ @L4riUs @Anonymous01J
/src/controllers/ @Tecrato @Anonymous01J
/src/models/ @Tecrato @Anonymous01J

/src/config/ @Tecrato @L4riUs @Anonymous01J
/src/core/ @Tecrato @L4riUs @Anonymous01J
/src/database/ @Tecrato @L4riUs @Anonymous01J
