<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/intl-tel-input@25.3.1/build/css/intlTelInput.css"
    />
  </head>
  <body>
    <form action="" id="form">
      <input type="tel" id="telefono" placeholder="+52 55 1234 5678" />
      <input type="submit" value="Enviar" />
    </form>

    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@25.3.1/build/js/intlTelInput.min.js"></script>
    <script>
      const input = document.querySelector("#telefono");
      const iti = window.intlTelInput(input, {
        utilsScript:
          "https://cdn.jsdelivr.net/npm/intl-tel-input@25.3.1/build/js/utils.js",
        initialCountry: "mx",
        separateDialCode: true,
      });
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        const numeroCompleto = iti.getNumber();
        console.log(numeroCompleto);
      });
    </script>
  </body>
</html>
